@font-face
{
  font-family: myFont;
  src: url(Wavehaus-95SemiBold.otf);
}

h2
{
  font-size: 50px;
  font-family: myFont;
  color: #ffc6d4;
}

h2
{
  margin-top: -20px;
  margin-bottom: -15px;
  margin-left: 300px;
  margin-right: 295px;
  color: #ffc6d4;
  text-align: right;
  font-size: 30px;
  font-family: myFont;
}

body
{
    max-width: 1920px;
    margin: 0 auto;
    background-color: pink;
    position: relative;
}

label[for="toggle"]
{
    position: fixed;
    top: 25px;
    left: 25px;
    color: black;
    z-index: 6;
    font-size: 3rem;
    font-family: myFont;
}

.navigation--responsive
{
    display: none;
}

#toggle
{
    display: none;
}

svg.hamburger
{
    display: none;
}

    /* Landscape phone to portrait tablet */
@media (max-width: 768px)
{
    .main-navigation
    {
      display: none;
    }
        svg.hamburger
    {
      display: block;
    }

        .navigation--responsive
  {
            display: block;
            background: linear-gradient(to top, #be93c5,  #7bc6cc);
            width: 200px;
            height: 100vh;
            position: fixed;
            top: -100vh;
            right: 0;
            left: 0;
            bottom: 0;
            margin: 0;
            padding: 0;
            transition: top 1s;
}
     
 .navigation--responsive ul
{
      display: block;
      list-style: none;
      height: 70vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      margin: 85px 0 0 0;
      padding: 0;
}

.navigation--responsive ul li
  {
      margin: 0;
      padding: 0;
  }

.navigation--responsive li a
  {
      padding: 50px 20px 50px 30px;
      text-decoration:none;
      color:black;
      font-family: myFont;
  }  
      
#toggle:checked ~ .navigation--responsive
  {
      top: 0vh;
  } 
   
} 


